@import '../../utils/variables.scss';

// ===== HEADER =====
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 20px 20px 20px; 
    width: 87%;
    @media screen and (max-width: 768px) {
           padding: 15px 10px 0 7px;
        }

    // ===== LOGO =====
    img {
        margin-left: 10px;
        @media screen and (max-width: 768px) {
            width: 120px;
            margin-left: 0; // smaller logo on mobile
        }
    }

    // ===== NAVBAR =====
    .navbar__links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 30px;
        padding: 0;
        gap: 15px;
        height: 34px;

        @media screen and (max-width: 1024px) {
            justify-content: space-around; // adapt on tablet
        }

        a {
            color: $Text-color-navbar;
            text-decoration: none;
            list-style: none;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            margin-left: 50px;
            cursor: pointer;

            @media screen and (max-width: 768px) {
                font-size: 13px;
                text-transform: uppercase;
                margin-left: 20px;
            }

            &.active {
                text-decoration: underline;
                text-shadow: $Text-active-link;
            }

            &:hover {
                text-decoration-line: underline;
            }
        }
    }
}
body {
  font-family: $Primary-font; 
}