@import '../../utils/variables.scss';

.logement-gallery {
  /* --- Layout base (desktop) --- */
  min-height: 50vh;
  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin: 48px 0;
  padding: 43px;
  gap: 32px;

  /* --- Tablet view (≤1024px) --- */
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr; /* Single column */
    padding: 16px;
    margin-top: 16px;

    > * {
      width: 100%; /* Make children take full width */
    }
  }

  /* --- Mobile view (≤768px) --- */
  @media screen and (max-width: 768px) {
    padding: 16px;
  }
}
