@import '../../utils/variables.scss';

// --- Container of each collapse ---
.collapseContainer {
  margin-bottom: 15px;
  overflow: hidden;
  max-width: 1240px;
  width: 100%;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
  }

  // --- Header: title + arrow ---
  .collapseHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $Theme-color;
    border-radius: 10px;
    height: 52px;
    padding: 8 10px;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      height: 30px;
    }
// --- Title ---
    > div:first-child {
      color: white;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      margin-left: 10px;
    }
// --- Arrow ---
    > div:last-child {
      transition: transform 0.7s ease;
      height: 24px;
      width: 24px;
      color: white;
      margin-right: 10px;

      @media screen and (max-width: 768px) {
        height: 18px;
        width: 18px;
      }
    }

    &.collapseHeaderOpened > div:last-child {
      transform: rotate(180deg);
    }
  }

  // --- Content area ---
  .collapseContent-parent {
    overflow: hidden;
  }

  .collapseContent {
    font-size: 18px;
    font-weight: 400;
    color: black;
    padding: 10px 24px;
    transition: all 0.6s ease-in-out;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }

    // Animate class applied when content is visible
    &.animate {
      opacity: 1;
      transform: translateY(0);
      height: max-content;
    }
  }
}
