@import '../../utils/variables.scss';

.error-page {
  text-align: center;
  height: 670px;

  @media screen and (max-width: 768px) {
    height: 641px;
  }

  h1 {
    color: $Theme-color;
    font-size: 100px;
    margin-bottom: 8px;

    @media screen and (max-width: 768px) {
      font-size: 70px;
    }
  }

  h2 {
    color: $Theme-color;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 80px;

    @media screen and (max-width: 768px) {
      font-size: 25px;
    }
  }

  
  .error-Link {
    color: black;
    font-weight: 500;
    font-size: 20px;


    
  }
}
