@import '../../utils/variables.scss';

.footer {
  background-color: $Footer-color;
  color: $Text-color;
  padding: 3rem;
  width: 100%;     
  min-height: 100px;

  display: grid;
  place-items: center;
  text-align: center;
  gap: 1rem;
  box-sizing: border-box; 
}

